* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    flex-wrap: wrap;
}

body {
    font-family: 'poppins', sans-serif;
}

/* HEADER */

header {
    background-color: black;
    width: 230px;
    height: calc(100vh - 80px);
    color: white;
    
}

div.logo {
    width: 100%;
    height: 80px;
    align-items: center;
}

div.home {
    width: 100%;
    height: 120px;
    align-items: center;
}

div.home li:first-child {
    border-left: 3px solid limegreen;
}

div.playlist {
    width: 100%;
    height: 220px;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 10rem;
}

div.account-name {
    width: 100%;
}


#big-logo {
    width: 60%;
    margin-left: 1rem
}

.logo img:last-child {
    width: 1.5rem;
}

.home ul>li {
    align-items: center;
    margin-left: 1rem;
    list-style-type: none;
    font-size: 0.8rem;
    line-height: 2rem;
}


.home ul>li a, .account-name a, .playlist a {
    text-decoration: none;
    color: white;
}

.playlist ul>li {
    list-style-type: none;
    opacity: 50%;
    font-size: 0.8rem;
    line-height: 2rem;
}
.playlist ul>li:hover, div.home ul>li:hover,.home ul #cerca:hover, .account-name p:first-child:hover{
    opacity: 100%;
}

.playlist ul span {
    font-size: 2rem;
    vertical-align: middle;
}


.home ul #cerca, .home ul>li:last-child  {
    opacity: 50%;
}

.account-name hr {
    width: 80%;
    opacity: 15%;
    margin: 0.2rem 1rem;
}

.account-name p {
    margin-left: 1rem;
}


.home img, .account-name img {
    width: 1.5rem;
    vertical-align: middle ;
}

.account-name p:first-child {
    opacity: 50%;
    font-size: 0.8rem;
}

.account-name p:last-child img {
    background-color: #808080;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}



/* MAIN */


main {
    width: calc(100% - 230px);
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow-y: auto;
}

/* TOP CONTAINER */

section.top-container {
    background-color: #101216;
    height: 80px;
    width: calc(100%-230px);
    justify-content: right;
    align-items: center;
}

.top-container button {
    background-color: #0e1013;
    border-color: white;
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    border-radius: 3rem;
    width: 12rem;
    height: 3rem;
    margin-right: 1rem;
}

.top-container button:hover {
    width: 14rem;
    height: 3.5rem;
}

/* SECTION EVIDENCE */

section.evidence-container {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

div.evidence ul>li {
    opacity: 50%;
    display: inline;
    margin-left: 1.5rem;
}

div.evidence ul li>a {
    text-decoration: none;
    color: white;
}


div.evidence li:hover {
    color: white;
    opacity: 100%;
}

.evidence ul>li:first-child {
    border-bottom: 2px solid limegreen;
}


/* SECTION CARDS */

.cards-container, .for-you-container {
    width: 100%;


}

.cards-title, .for-you-cards-title {
    width: 100%;
}



.cards-title h2, .for-you-cards-title h2 {
    margin-left: 1rem;
    color: white;
    margin-top: 1.5rem;
    font-size: 1.8rem;
}

.for-you-cards-title p {
    margin: 0.5rem 1rem;
    color: white;
    opacity: 50%;
    font-size: 0.8rem;
    
}




.card, .for-you-card {
    width: calc((100%/6) - 2rem);
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.radius {
    border-radius: 100%;
}

.card img, .for-you-card img {
    width: 100%;
}

.card h3, .for-you-card h3 {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    margin: 0.6rem 0;
}

.card p, .for-you-card p {
    color: white;
    text-align: center;
    font-size: 0.6rem;
    opacity: 50%;
}

.card img:hover, .for-you-card:hover {
    opacity: 40%;
}

.card:hover .layover span {
    opacity: 100%;
}



.layover span {
    opacity: 0%;
    filter: invert(100%);
    font-size: 3rem;
    position: absolute;
    top: 25%;
    left: 37%;
}


/* FOOTER */

footer {
    background-color: #242424;
    height: 80px;
    width: 100%;
    justify-content: space-between;
}

.footer-left {
    height: 100%;
    width: 20%;
    align-items: center;
}

.footer-left img {
    width: 3.5rem;
    margin-left: 1rem;
}

.footer-left p:first-child {
    color: white;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.footer-left p:last-child {
    color: white;
    opacity: 40%;
    font-size: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 2rem;
}

.footer-icon-left span {
    filter: invert(100%);
    margin-left: 0.5rem;
    opacity: 40%;
}

.footer-icon-left span:hover {
    opacity: 100%;
}

.footer-left p:last-child:hover {
    opacity: 100%;
}

.footer-central {
    height: 100%;
    width: 40%;
}

.footer-central-container {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.footer-central-down {
    border: 1px solid white;
    width: 70%;
    height: 5px;
    border-radius: 3rem;
    opacity: 50%;
    margin-left: 5.5rem;
}

.footer-central-down-inside {
    border: 1px solid white;
    background-color: white;
    width: 30%;
    border-radius: 3rem;
}

.footer-central-down-inside:hover {
    background-color: limegreen;
    border: 1px solid limegreen;
    opacity: 100%;
}
.footer-central-container:first-child {
    align-items: flex-end;
}

.footer-central-up {
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.footer-central-up span {
    margin-left: 1rem;
    filter: invert(100%);
}

.play-footer {
    font-size: 1.5rem;
}

.footer-right {

    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: end;
}

.footer-right span {
    margin-right: 1rem;
    filter: invert(100%);

}

.footer-right-small {
    border: 1px solid white;
    width: 30%;
    height: 5px;
    border-radius: 3rem;
    margin-right: 1rem;
    opacity: 50%;
}

.footer-right-small-inside {
    background-color: white;
    border: 1px solid white;
    width: 20%;
    height: 3px;
    border-radius: 3rem;
    opacity: 50%;
}

.footer-right-small-inside:hover {
    background-color: limegreen;
    border: 1px solid limegreen;
    opacity: 100%;   
}


/* RESPONSIVE */


/* MEDIA LARGE */

@media screen and (min-width: 768px) {
    #logo-small {
        display: none;
    }

    #play {
        opacity: 0;
    }
}

/* MEDIA MEDIUM */

@media screen and (max-width: 768px) {
    .cards-container  .card {
        width: calc((100% / 4) - 2.5rem);
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    .for-you-container .for-you-card {
        width: calc((100% / 4) - 1.5rem);
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .card img {
       width: 130%;

    }

    div.evidence ul>li{
        font-size: 0.6rem;
        
    }
    div.evidence ul {
        margin-right: 2.5rem;
        width: 100%;
    }

    #logo-small {
        display: none;
    }

    #play {
        opacity: 0;
    }

    .layover span {
        opacity: 0%;
        filter: invert(100%);
        font-size: 3rem;
        position: absolute;
        top: 10%;
        left: 37%;
    }
    

}


/* MEDIA SMALL */

@media screen and (max-width: 576px) {
    .cards-container  .card, .for-you-container .for-you-card {
        width: calc((100% / 2) - 2.5rem);
    }


    .cards {
        justify-content: center;
    }

   .card img {
    width: 100%;
   }

   .for-you-cards {
    justify-content: center;
   }

   .for-you-card img {
    width: 100%;
   }

   .cards-title h2, .for-you-cards-title h2, .for-you-cards-title p {
    margin-left: 1.5rem;
   }

   div.evidence ul {
    width: 100%;
    text-align: center;
}

#play {
    opacity: 0;
}

.layover span {
    opacity: 0%;
    filter: invert(100%);
    font-size: 3rem;
    position: absolute;
    top: 15%;
    left: 30%;
}

}

/* MEDIA EXTRA SMALL */

@media screen and (max-width: 480px) {
    header {
        width: 50px;
    }

    main {
        width: calc(100% - 50px);
    }

    .cards {
        justify-content: center;
    }

   .card img {
    width: 100%;
   }

   .for-you-cards {
    justify-content: center;
   }

   .for-you-card img {
    width: 100%;
   }

   .cards-title h2, .for-you-cards-title h2, .for-you-cards-title p {
    margin-left: 1.5rem;
   }

   div.evidence ul {
    width: 100%;
    text-align: center;
   }

   #big-logo {
    display: none;
   }

   
   .home ul>li a, .account-name a, .playlist a, .playlist h3, .playlist span, hr {
    display: none;
   }

   .home ul li>img {
    margin-bottom:0.8rem;
   }

   div.logo {
    height: 35px;
   }

   .home, .logo {
    justify-content: center;
   }

   .home {
    margin-bottom: 2rem;
   }

   div.account-name {
    margin: 0;

   }


   .home ul>li {
    margin: 0;

   }

   #logo-small {
    display: inline;
   }
   #play {
    opacity: 0;
}
   
}
